{
    "main": "bin/graph-composer",
    "output": "graph-composer-@git-version@.phar",
    "directories": ["src"],
    "finder": [
        {
            "name": "*.php",
            "exclude": [
                "Tests",
                "tests"
            ],
            "in": "vendor"
        }
    ],
    "stub": true,
    "git-version": "git_tag"
}
