name: CI

on:
  push:
  pull_request:

jobs:
  PHPUnit:
    name: PHPUnit (PHP ${{ matrix.php }})
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        php:
          - 8.0
          - 7.4
          - 7.3
          - 7.2
          - 7.1
          - 7.0
          - 5.6
          - 5.5
          - 5.4
          - 5.3
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug
      - run: composer install
      - run: vendor/bin/phpunit --coverage-text
        if: ${{ matrix.php >= 7.3 }}
      - run: vendor/bin/phpunit --coverage-text -c phpunit.xml.legacy
        if: ${{ matrix.php < 7.3 }}
      - run: composer build
      - run: composer require symfony/console:^6.0 --dry-run --working-dir=tests/install-as-dep
        if: ${{ matrix.php >= 8.0 }}
      - run: composer require symfony/console:^5.0 --dry-run --working-dir=tests/install-as-dep
        if: ${{ matrix.php >= 7.2 }}
      - run: composer require symfony/console:^4.0 --dry-run --working-dir=tests/install-as-dep
        if: ${{ matrix.php >= 7.1 && matrix.php < 8.0 }}
      - run: composer require symfony/console:^3.0 --dry-run --working-dir=tests/install-as-dep
        if: ${{ matrix.php >= 5.5 && matrix.php < 8.0 }}
      - run: composer install --dry-run --working-dir=tests/install-as-dep

  PHPUnit-hhvm:
    name: PHPUnit (HHVM)
    runs-on: ubuntu-18.04
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - uses: azjezz/setup-hhvm@v1
        with:
          version: lts-3.30
      - run: hhvm $(which composer) install
      - run: hhvm vendor/bin/phpunit
      - run: hhvm $(which composer) install --dry-run --working-dir=tests/install-as-dep
